body {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: [full-start] auto [main-start] minmax(0, 1fr) [main-end] auto [full-start];
}

header {
  grid-row: 1;
  grid-column: 1 / -1;
  z-index: 1;
}

main {
  z-index: 1;
  display: grid;
  grid-template-rows: repeat(auto, minmax(0, 1fr));
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.header {
  z-index: 1;
  grid-row: 1;
  grid-column: 1 / -1;
  justify-self: center;
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; */
  /* height: 100%; */
}
.header > h1 {
  font-size: 3rem;
}
.header > img {
  margin-inline: auto;
}
.transform-container {
  display: flex;
  grid-row: 2;
  grid-column: 1 / -1;
}
.transform-container > div {
  flex: 1;
  /* grid-row: 2;
  grid-column: 1 / -1; */
}
.transform-container > picture {
  flex: 1;
  /* grid-row: 2;
  grid-column: 1 / -1; */
}
.img-header {
  position: absolute;
  /* max-height: 660px;
  max-width: 1405px; */
}
