@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");

:root {
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-desaturated-cyan-graphic-design-text: hsl(167, 40%, 24%);
  --dark-blue-photography-text: hsl(198, 62%, 26%);
  --dark-moderate-cyan-footer: hsl(168, 34%, 41%);

  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}
.barlow-semibold {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.fraunces-700 {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}
.fraunces-900 {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: [full-start] auto [main-start] minmax(auto, 1fr) [main-end] auto [full-end];
  height: 100vh;
  height: 100svh;
  height: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-row: 1 / 1;
  grid-column: 1 / -1;
  z-index: 2;
  height: fit-content;
  color: var(--white);
  /* Mobile */
  padding-inline: 1.4rem 1.4rem;
  padding-block: 1.8rem;
  /* Desktop */
  /* padding-inline: 2.4rem 2.9rem; */
  /* padding-block: 2.1rem; */
}
#desktop-nav {
  display: none;
  align-items: center;
}
#mobile-nav:popover-open {
  border: 0;
}
#mobile-nav:popover-open > menu {
  display: flex;
  flex-direction: column;
}
nav > menu {
  margin-inline-start: auto;
  display: flex;
  align-items: center;
  padding: 0;
  gap: 3.05rem;
}
nav > menu > li {
  list-style: none;
  font-size: 1.1rem;
}
nav > menu > li > a {
  color: inherit;
  text-decoration: none;
}
nav > menu > li > a:hover {
  color: var(--white);
}
main {
  height: 100%;
  /* z-index: 1; */
  display: grid;
  grid-row: 1;
  grid-column: 1 / -1;

  /* grid-template-rows: [main-row-start] repeat(2, minmax(0, 1fr)) [main-row-end]; */
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.contact-li {
  background-color: var(--white);
  color: black;
  font-size: 0.97rem;
  padding-inline: 1.9rem;
  padding-block: 1rem;
  border-radius: 2rem;
}
.contact-li:hover {
  cursor: pointer;
  color: var(--white);
  background-color: hsl(from var(--white) h s l / 0.3);
}
.header {
  z-index: 1;
  grid-row: 1;
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
  /* Mobile */
  margin-block-start: 8.5rem;
  gap: 2.8rem;
  /* Desktop */
  /* margin-block-start: 11.7rem; */
  /* gap: 5.5rem; */
}
.header > h1 {
  /* Mobile */
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
  line-height: 1.3;
  /* Desktop */
  /* line-height: 1.5 */
  /* text-align: left; */
  /* font-size: 3.5rem; */
  /* letter-spacing: 0.7rem; */
}

.logo {
  /* Mobile */
  width: 7.75rem;
  /* Desktop */
  /* width: 10.7rem; */
}

.img-header {
  display: flex;

  /* place-self: center; */

  grid-row: 1;
  grid-column: 1 / -1;

  z-index: -1;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.transform-container {
  display: flex;
  flex-direction: column-reverse;
  /* align-items: center; */
  /* justify-content: center; */
  grid-row: 2;
  grid-column: 1 / -1;
}
.transform-text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  gap: 2.3rem;
  /* margin: auto; */
}
.transform-text-container > h2 {
  margin-inline-start: 10.4rem;
  font-size: 2.55rem;
  width: 13.5ch;
  line-height: 1.2;
}

.transform-text-container > p {
  color: var(--dark-grayish-blue);
  margin-inline-start: 10.4rem;
  font-size: 1.1rem;
  width: 45ch;
  line-height: 1.7;
}

.transform-text-container > button {
  /* align-self: flex-start; */
  text-align: center;
  box-shadow: inset 0px -10px 0px 0px hsl(from var(--yellow) h s l / 0.3);
  font-size: 1rem;
  margin-inline-start: 10.55rem;
  width: 11ch;
  /* z-index: 3; */
}
.transform-text-container > button:hover {
  cursor: pointer;
  box-shadow: inset 0px -10px 0px 0px hsl(from var(--yellow) h s l / 1);
}

.transform-container > picture {
  flex: 1;
}

.stand-out-container {
  display: flex;
  flex-direction: column-reverse;
  grid-row: 3;
  grid-column: 1 / -1;
}

.stand-out-text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.3rem;
}
.stand-out-text-container > h2 {
  margin-inline-start: 7rem;
  font-size: 2.55rem;
  line-height: 1.2;
  width: 15ch;
}
.stand-out-text-container > p {
  color: var(--dark-grayish-blue);
  margin-inline-start: 7rem;
  font-size: 1.1rem;
  width: 45ch;
  line-height: 1.7;
}

.stand-out-text-container > button {
  text-align: center;
  box-shadow: inset 0px -10px 0px 0px hsl(from var(--soft-red) h s l / 0.3);
  font-size: 1rem;
  margin-inline-start: 7.1rem;
  width: 11ch;
}
.stand-out-text-container > button:hover {
  cursor: pointer;
  box-shadow: inset 0px -10px 0px 0px hsl(from var(--soft-red) h s l / 1);
}

.stand-out-container > picture {
  flex: 1;
}
.graphic-design-container {
  display: grid;
  grid-row: 4;
  grid-column: 1 / -1;
  /* grid-template-rows: 1fr; */
  /* grid-template-columns: 1fr; */
}
.graphic-design-text-container,
.photography-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  z-index: 1;

  padding-block-end: 3.5rem;
  gap: 1.5rem;
  color: var(--dark-desaturated-cyan-graphic-design-text);
}

:is(.photography-text-container, .graphic-design-text-container) > h2 {
  font-size: 1.8rem;
}
:is(.photography-text-container, .graphic-design-text-container) > p {
  width: 37ch;
  font-size: 1rem;
  line-height: 1.7;
  text-align: center;
}

.photography-text-container {
  color: var(--dark-blue-photography-text);
}
.graphic-design-container > picture {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
}
.photography-container {
  display: grid;
  grid-row: 5;
  grid-column: 1 / -1;
}
.photography-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  grid-row: 1;
  grid-column: 1;
  z-index: 1;
}

.photography-container > picture {
  grid-row: 1;
  grid-column: 1;
}

.client-testimonials-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row: 6;
  grid-column: 1 / -1;
  gap: 4.8rem;
  /* margin-inline: 10rem; */
  margin-block: 10rem 10.2rem;
}
.client-testimonials-container > h2 {
  color: var(--dark-grayish-blue);
  font-size: 1.2rem;
  letter-spacing: 0.35rem;
}
.client-container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 3.8rem;
}
.clients > img {
  width: 4.5rem;
  border-radius: 3rem;
}
.clients > p {
  font-size: 1.1rem;
  width: 34ch;
  line-height: 1.8;
  color: var(--very-dark-desaturated-blue);
}

.client-text {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin-block-start: 0.5rem;
}
.client-text > h3 {
  margin-inline-end: 1rem;
}
.client-text > p {
  color: var(--dark-grayish-blue);
  font-size: 0.88rem;
  margin-inline-end: 1rem;
}
.first-gallery {
  display: flex;
  grid-row: 7;
  grid-column: 1 / -1;
}

.second-gallery {
  display: flex;
  grid-row: 8;
  grid-column: 1 / -1;
}

footer {
  grid-row: main-end / full-end;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  color: hsl(167.67, 45.34%, 31.57%);
  padding-block: 4rem 4.8rem;
  /* background-color: hsl(164.62, 43.82%, 65.1%); */
  background-color: hsl(151.7, 36.55%, 71.57%);
}

.footer-logo {
  fill: hsl(167.67, 45.34%, 31.57%);

  /* fill: var(--dark-moderate-cyan-footer); */
}
.footer-choices {
  padding: 0;
  display: flex;
  gap: 3.6rem;
  font-size: 1.1rem;
}
.footer-socials {
  display: flex;
  gap: 1.75rem;
  margin-block-start: 3.3rem;
}
.footer-socials > svg > path:hover {
  fill: var(--white);
  cursor: pointer;
}
.footer-choices > li {
  list-style: none;
}
.footer-choices > li > a {
  text-decoration: none;
  color: inherit;
}
.footer-choices > li > a:hover {
  color: var(--white);
}
@media (min-width: 35rem) {
  .transform-container {
    flex-direction: row;
  }
  .stand-out-container {
    flex-direction: row-reverse;
  }
  .graphic-design-container {
    grid-column: 1;
  }
  .photography-container {
    grid-row: 4;
    grid-column: 2;
  }
  .client-container {
    flex-direction: row;
  }
  .first-gallery {
    grid-column: 1;
  }
  .second-gallery {
    grid-row: 7;
    grid-column: 2;
  }
  #desktop-nav {
    display: flex;
  }
  #hamburger-btn {
    display: none;
  }

  #mobile-nav {
    display: none;
  }
}
