body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: [full-start] auto [main-start] minmax(0, 1fr) [main-end] auto [full-end];
}

header {
  grid-row: 1;
  grid-column: 1 / -1;
  z-index: 300;
}

main {
  z-index: 1;
  display: grid;
  grid-row: 1;
  grid-column: 1 / -1;

  grid-template-rows: [row-start] repeat(auto, minmax(0, 1fr)) [row-end];
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.header {
  z-index: 1;
  grid-row: 1;
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  /* justify-self: center; */
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.header > h1 {
  font-size: 3rem;
}
.header > img {
  /* margin-inline: auto; */
}

.img-header {
  display: flex;

  place-self: center;
  width: 100%;
  height: 100%;
  object-fit: contain;
  grid-row: 1;
  grid-column: 1 / -1;

  z-index: -1;
}
